#main{
    display: flex;
}
img{
    width: 400opx;
    height:500px;
}
  
.indiv:hover{
    box-shadow: 2px 2px 16px;
}
.offer{
    background-color: darkred;
    color: white;
    padding: 3px;
    border-radius: 4px;
}
.deal{
    color: darkred;
}