#fdiv{
    text-align: center;
    font-weight: 50px;
    font-size: 32px;
}
#sdiv{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}
#main:hover{
    box-shadow: 20px 20px 100px darkgray;
}
#sdiv img{
    width: 50px;
    height: 50px;
}
#tdiv{
    background-color: whitesmoke;
    padding: 30px;
}